.currentItem {
  display: flex;
  gap: 20px;
  margin: 10px 0;
  color: var(--text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.paragraph {
  margin: 0;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.button {
  padding: 10px 20px;
  border: 1px solid var(--object-color);
  transition: all 0.3s ease-in-out;
  background-color: unset;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--object-color-secondary);
  }
}
